@CHARSET "ISO-8859-1";

.Wrapper{
	width: 1024px;
	border: 1px solid green;
	margin: 0 auto;
	padding: 0;
	font-family: serif;	
}

div.container {
    width: 100%;
    border: 1px solid green;
}

header, footer {
    padding: 1em;
    color: #000;
    clear: left;
    text-align: left;
    border: 1px solid red;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
    border: 1px solid red;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}